<div class="wrapper">
    <app-navigation></app-navigation>
    <h1>Fiche de vérification</h1>
    <div class="row with-padding">
        <div class="col-md-4 col-with-padding">
            <span>Recherche de fiche:</span>
            <select #selectElem (change)="setData(selectElem.value)">
                <option value="avalider">A valider</option>
                <option value="valide">valide</option>
                <option value="tous">tous</option>
            </select>
        </div>
        <button (click)="redirect($event)" class="btn btn-lg btn-outline-primary">Créer une fiche</button>
    </div>
    <br>
    <ng-table [config]="config" (tableChanged)="onChangeTable(config)" [rows]="rows" [columns]="columns">
    </ng-table>
    <ngb-pagination *ngIf="config.paging" class="pagination-sm" [page]="page" [collectionSize]="length" [pageSize]="itemsPerPage"
        [maxSize]="maxSize" [boundaryLinks]="true" [rotate]="false" (pageChanged)="onChangeTable(config, $event)" (numPages)="numPages = $event">
    </ngb-pagination>
    <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
</div>