<app-navigation></app-navigation>
<h1>Creation de fiche</h1>
<div class="background">
  <div class="form cf bordered">
    <div class="half left cf grid">
      <div>Date heure: </div>
      <div> 2018 - 01 - 29</div>
      <div>08:42</div>
    </div>
    <div class="half right cf grid">
      <label>
        <div>Transit</div>
        <input type="text" id="input-name" placeholder="Name">
      </label>
      <div> - </div>
      <label>
        <div>Folio</div>
        <input type="text" id="input-name" placeholder="Name">
      </label>
    </div>
  </div>
  <div class="form cf bordered">
    <div class="half left cf complete">
      <div>Direction: DIRECTION CLIENTELES RESEAUX COMPLEMENTAIRES</div>
      <div>Periode: 01-2017</div>
      <div>Centre: Desjardisn Montreal Centre-ville</div>
    </div>
    <div class="half right cf complete">
      <div>Superviseur: Releve SUPERVISEUR</div>
      <div>Conseiller: Prenom NOM</div>
      <div>types de Processus: Ouverture de compte--NACC</div>
    </div>
  </div>
</div>
<div class="form cf bordered">
  <div class="half left cf complete">
    <div>Rechercher etapes: </div>
    <label>
      <select class="half" placeholder="Superviseur" tabindex="1" required autofocus>
        <option *ngFor="let option of select1" value="{{option}}">{{option}}</option>
      </select>
      <button class="btn btn-lg btn-outline-primary search">Rechercher</button>
    </label>
  </div>
  <div class="half right cf">
    <div class="slide">
      <button class="btn btn-lg btn-outline-primary">Controle precedent</button>
      <div class="btn-group btn-group-toggle" ngbRadioGroup name="radioBasic">
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="1"> Oui
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" value="middle"> non
        </label>
        <label ngbButtonLabel class="btn-primary">
          <input ngbButton type="radio" [value]="false"> S.O.
        </label>
      </div>
      <button class="btn btn-lg btn-outline-primary">Controle suivant</button>
    </div>
  </div>
</div>
<form class="form cf" (ngSubmit)="onSubmit()">
  <div class="half left cf complete">
    <label>
      <div>Etapes : </div>
      <input type="text" id="input-name" placeholder="Name">
    </label>
    <label>
      <div>Sous-etape : </div>
      <input type="text" id="input-name" placeholder="Name">
    </label>
    <label>
      <div>Micro etape (facultative) : </div>
      <input type="text" id="input-name" placeholder="Name">
    </label>
    <label>
      <div>Controle : </div>
      <input type="text" id="input-name" placeholder="Name">
    </label>
    <label class="exception">
      <div>Description du Controle : </div>
      <label class="form--aligned">
        <div>page : </div>
        <div class="form--inner">
          <input type="text" id="input-name" placeholder="Name">
          <span> / </span>
          <input type="text" id="input-name" placeholder="Name">
        </div>

      </label>
      <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
    </label>
  </div>
  <div class="half right cf">
    <label>
      <div>Commentaire</div>
      <select placeholder="Superviseur" tabindex="1" required autofocus>
        <option *ngFor="let option of select1" value="{{option}}">{{option}}</option>
      </select>
    </label>
    <textarea name="message" type="text" id="input-message" placeholder="Message"></textarea>
    <input type="submit" value="Ajouter ce texte a la liste deroulante" class="input-submit">
  </div>
<div class="submission">
    <input type="submit" value="Enregistrer definitivement" class="input-submit" (click)="clickSubmit()">
    <input type="submit" value="Enregistrer provisoirement" class="input-submit" (click)="clickSubmit()">    
</div>
</form>
