*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html, body {
  background: #f1f1f1;
  font-family: 'Merriweather', sans-serif;
  padding: 1em;
}

h1 {
  text-align: center;
  color: #008C53;
  text-shadow: 1px 1px 0 white;
}

.form {
  max-width: 80%;
  text-align: center;
  margin: 20px auto;
}
.form input, .form textarea {
  border: 0;
  outline: 0;
  padding: 1em;
  display: block;
  width: 100%;
  margin-top: 1em;
  font-family: 'Merriweather', sans-serif;
  -moz-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
  resize: none;
}
.form input:focus, .form textarea:focus {
  -moz-box-shadow: 0 0px 2px #008C53 !important;
  -webkit-box-shadow: 0 0px 2px #008C53 !important;
  box-shadow: 0 0px 2px #008C53 !important;
}
.form #input-submit {
  color: white;
  background: #008C53;
  cursor: pointer;
}
.form #input-submit:hover {
  -moz-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  -webkit-box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
  box-shadow: 0 1px 1px 1px rgba(170, 170, 170, 0.6);
}
.form textarea {
  height: 126px;
}

.half {
  float: left;
  width: 48%;
  margin-bottom: 1em;
}

.right {
  width: 50%;
}

.left {
  margin-right: 2%;
}

@media (max-width: 480px) {
  .half {
    width: 100%;
    float: none;
    margin-bottom: 0;
  }
}
/* Clearfix */
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.cf:after {
  clear: both;
}

.form .grid{
  display: flex;
  justify-content: space-between;
}

.form .complete div,
.form .complete label{
  text-align: left !important;
  width: 100%;
}

.form.bordered{
  border: 2px solid #000;
  padding: 15px;
}
.background{
  width: 100%;
  background-color: #008C53;
  padding: 10px;
}



.form--aligned .form--inner{
  display: flex;
  width: 50%;
  justify-content: space-between;
  align-items: center;
}
.form--inner input{
 max-width: 43%;
}


input[type="radio"]{
  display: none !important;
}

.btn-group{
  margin: 15px;
}

.btn-primary:not([disabled]):not(.disabled).active, .btn-primary:not([disabled]):not(.disabled):active, .show>.btn-primary.dropdown-toggle {
  color: #008C53;
  background-color: #fff;
  border-color: #008C53;
  box-shadow: 0 0 0 0.2rem rgba(0, 140, 83, .5);
}

.btn-primary {
  color: #fff;
  background-color: #008C53;
  border-color: #008C53;
  margin-bottom: 0;
}

.btn-outline-primary {
  color: #008C53;
  background-color: transparent;
  background-image: none;
  border-color: #008C53;
  max-width: 200px;
  width: 100%;
}

.btn-outline-primary:focus {
  box-shadow: 0 0 0 0.2rem rgba(0, 140, 83, .5);
}

.btn-outline-primary:not([disabled]):not(.disabled):active{
  color: #fff;
    background-color: #008C53;
    border-color: #008C53;
    box-shadow: 0 0 0 0.2rem rgba(0, 140, 83, .5);
}

.slide{
  display: block;
  width: 60%;
  margin: 25px auto;
}