/* You can add global styles to this file, and also import other style files */
.site__footer{
    background: #008C53;
    height: 50px;
    width: 100%;
}


.dejardin--logo img{
    max-height: 100px;
}
svg{
    display: none;
}

.content__wrapper{
    min-height: 640px;
}