/* You can add global styles to this file, and also import other style files */
.site__footer{
    background: #008C53;
    height: 50px;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

body{
    overflow-y: hidden;
}

.dejardin--logo img{
    max-height: 100px;
}
